@import "src/shared/styles/vars.module.scss";

.container {
  cursor: pointer;
  position: fixed;
  bottom: $footerHeight + $indentDefaultSm;
  right: $indentDefaultSm;
  width: 40px;
  height: 40px;
  background: rgba(54, 61, 78, 0.6);
  border-radius: $brDefault;
  display: flex;
  justify-content: center;
  align-items: center;

  @media screen and (max-width: $phones), (max-height: $phones) {
    bottom: $footerHeightMobile + $indentDefaultSm;
  }
}